body{font-family: 'National Park';}
.authentication-bg{background:#fff  url('./assets/login_bg.png') no-repeat; background-size:contain;}
.well{text-align:center;background-color: #fff;border: 1px solid #E7EAF0;box-shadow: 0 1px 1px #ececec;-webkit-box-shadow: 0 1px 1px #ececec; -moz-box-shadow: 0 1px 1px #ececec;
position:relative;padding:30px 30px 39px !important;border-radius: 6px !important;box-shadow: #e7eaf0 0 4px 12px;}
.well h1{font-size: 15px; color: #0e0e0e;font-weight:600;font-style: normal; float:left;font-family: 'National Park';}
.well h2{font-size: 15px; color: #0e0e0e;font-weight:700;font-style: normal;font-family: 'National Park';}
.well p{color: #0e0e0e;font-size: 17px;font-family: 'National Park';font-weight:500; font-style:normal;}
.login-validation label{text-align:left;width:100%;color:#000;font-family: 'National Park';font-size:15px;font-weight:500;font-style:normal;}
.red{color:#ff0000;}
.well .form-control{color:#97a2b3 !important;height: 49px;background-color: #fff;font-family: 'National Park';font-weight: 400;font-style: normal;font-size:15px;border:1px solid #E7EAF0;}
.well .form-control:hover, .well .form-control:focus{box-shadow:none !important; outline:none !important;}
.form-control::placeholder{color:#ccc}
.btn-login{background-color:#0075bf; padding-top:14px;padding-bottom:13px;font-family: 'National Park';text-transform: uppercase;font-weight:400;font-style:normal;width:100%;
font-size:16px;transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; border-radius:5px;color:#fff;}
.btn-login:hover{background-color:#0075bf; color:#fff;}
.forgot a{color:#268dc0;font-size: 14px;text-align: right;font-family: 'National Park';font-weight: 400;font-style:normal;text-decoration:none;padding:5px 0 25px;border:0px !important;background: none;}
.signtxt p{color:#0e0e0e !important; font-size: 14px !important;font-family: 'National Park';font-weight:400;font-style:normal;}
.signtxt p a{text-decoration:none;}
.fpass{color: #0e0e0e !important;font-size:14px !important;font-family: 'National Park';font-weight:400 !important;font-style:normal;float:left}

/*sidenav*/
.sidebar{position:fixed;top:0;left:0;height:100%;overflow:auto;width:20%;background:white;z-index:100;transition:all 0.5s ease;box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;}
.sidebar::-webkit-scrollbar{display:none;}
.sidebar.sidebar-close{width:15%;}
/*sidenav logo*/
.sidebar .logo-details{margin-left:auto;margin-right:auto;display:block;width:fit-content!important;padding:10px 10px 10px 10px;}
.sidebar .logo-details .logo img{height:70px;width:70px;margin-left:auto;margin-right:auto;display:block;}
.sidebar .logo-details .logo{height:90px;width:100%;}
.sidebar.sidebar-close .logo-details .logo{border-radius:3px;}
/*sidenav links*/
.sidebar .nav-links{height:50vh;width:100%;padding-bottom:150px;margin-left:-3em;}
.sidebar .nav-links::-webkit-scrollbar{display:none;}
.sidebar .nav-links li{list-style:none;}
.sidebar .nav-links>li{position:relative;width:fit-content;}
.sidebar .nav-links li:hover{background-color: #e0efff;border-top-right-radius: 10px;border-bottom-right-radius: 10px;}
.sidebar .nav-links li:active{background-color:#e0efff;}
.sidebar .nav-links li a .link_name{font-size:14px;font-weight:600;color:#555;transition:.4s;padding:10px 10px 4px 0px;}
/*sidenav links icon*/
.sidebar .nav-links li i{height:45px;margin-left:25px;min-width:45px;text-align:center;line-height:50px;color:#555555;font-size:20px;cursor:pointer;transition:.3s}
/*sidenav submenu link*/
.sidebar .nav-links li .sub-menu{padding:6px 6px 14px 60px;background:#fff;display:none;transition:.4s}
.sidebar .nav-links li .sub-menu a{color:#555555;font-size:15px;font-family: 'National Park';font-weight:600;padding:7px 0;white-space:nowrap;transition:.3s}
.sidebar .nav-links li .sub-menu li.active a,.sidebar .nav-links li .sub-menu li:hover a{color:#487cb2;}
.sidebar .nav-links li .sub-menu .sub_menu_link_name {font-size:14px}
/**userDetails*/
.sidebar .user-details{border-radius:5px;box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;display: flex;height:40px;width:90%;margin-left:20px;padding:1px 0px 10px 0px;background-color:#487cb2;}
.sidebar .user-details .logo{height:40px;width:30%;}
.sidebar .user-details .logo img{height:50px;width:70%;margin-left:auto;margin-right:auto;display: block;}
.sidebar .user-details .bioData{color:#e0e0e0;height:40px;width:60%;font-family: 'National Park';font-size:13px;font-weight:600;padding:8px 0px 0px 0px;}
.sidebar .user-details .settings{height:40px;width:10%; transform: scale(1,1);}
.sidebar.sidebar-close .user-details .logo{border-radius:3px;}



