<div class="navContainer">  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="xchangeSideNav" mode="side" opened>
      <mat-toolbar class="sidenavToolBar">
        <img src="./assets/rfxchange_Logo.svg" height="100">
      </mat-toolbar>
      
    </mat-sidenav>
  
      <mat-sidenav-content class="xchangeNavContent">
        <mat-toolbar class="xchangeToolbar">
          <h1 class="xchangeHeaderName">Responsive Header</h1>
        </mat-toolbar>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
