<div class="staus-modal-attributes">
    <div class="gtinStatus">
        <button id="gtin" style="margin:8px;font-family:'National Park';color:#f2f5f9;border:0px;border-radius:3px;background-color:#2d69a7;" type="button" class="btn btn-primary">GTIN :0321012345676 </button>
       </div>
    <div class="downloadStatus">
        <button id="download" class="btn btn-primary">Download<span><i class="fa fa-filter"></i></span></button>
    </div>
</div>
<hr>
<div class="tableContainer">
    <div class="tableAttributes">
        <table>
            <tr>
                <th style="width:30%">Attribute</th>
                <th style="width:50%">Value</th>
            </tr>
            <tr>
              <td>GTIN</td>
              <td class="valueRight">0321012345676</td>
            </tr>
            <tr>
              <td>Serial Number</td>
              <td class="valueRight">400806</td>
            </tr>
            <tr>
              <td>Batch or LOT</td>
              <td>1908642E</td>
            </tr>
            <tr>
              <td>Expiration Date</td>
              <td>23-07-2028</td>
            </tr>
            <tr>
              <td>Correlation UUID</td>
              <td>21EC2020-3AEA-4069-A2DD-08002B30309D</td>
            </tr>
            <tr>
              <td>Context</td>
              <td>Saleable Return</td>
            </tr>
            <tr>
              <td>Attestation of Control</td>
              <td>True</td>
              </tr>
            <tr>
              <td>Requested Date and Time</td>
              <td>23-07-2028 / 10:30:PM</td>
            </tr>
          </table>
    </div>
    <div>
      <div class="verificationStatus">
        <img style="width:50vh;height:45vh" src="./assets/navigationIcons/success.png">
      </div>
    </div>
</div>
<div class="requestorRespondentContainer">
  <div class="requestorContainer">
    <div class="title">Requestor</div>
    <hr>
      <div class="tableAttributes">
          <table>
              <tr>
                  <th style="width:30%">Attribute</th>
                  <th style="width:50%">Value</th>
              </tr>
              <tr>
                <td>Requestor VRS Provider</td>
                <td class="valueRight">Mediledger</td>
              </tr>
              <tr>
                <td>Requestor GLN</td>
                <td class="valueRight">0321012345676</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>anyone&#64;anynet.com</td>
              </tr>
              <tr>
                <td>Telephone</td>
                <td>+1-900-754-3235</td>
              </tr>
            </table>
      </div>
  </div>
  <div class="respondentContainer">
    <div class="title">Responder</div>
    <hr>
    <div class="tableAttributes">
      <table>
          <tr>
              <th style="width:30%">Attribute</th>
              <th style="width:50%">Value</th>
          </tr>
          <tr>
            <td>Responder VRS Provider</td>
            <td class="valueRight">Mediledger</td>
          </tr>
          <tr>
            <td>Responder GLN</td>
            <td class="valueRight">1621012345676</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>support&#64;rfxcel.com</td>
          </tr>
          <tr>
            <td>Telephone</td>
            <td>+91-900-754-3235</td>
          </tr>
        </table>
  </div>
  </div>
</div>