<div class="loginContainer">
    <div class="loginDetails">
        <div class="credentialsCard">
            <div id="xChangeLogo"><img id="logo" src="../../assets/logo.jpg"></div>
            <div class="loginCard">
                <div id="second">Login</div>
                <div id="third">3</div>
            </div>
        </div>
    </div>
    <div class="loginBanner">
        <div class="loginBannerImage">
            <img id="imgBanner" src="../../assets/logo.jpg">
        </div>
    </div>
</div>